@{
	ViewData["Title"] = "Home Page";
}

<h2>Text Sentiment Scores Dashboard</h2>
<div class="main-content">
	<ul>
		<li>@Html.ActionLink("Document Scores", "Index", "Documents", null, null)</li>
		<li>@Html.ActionLink("Tweet Scores", "Index", "Tweets", null, null)</li>
	</ul>
</div>